.chessboard-container {
  --chessboard-size: 15;
  --block-size: 2em;

  --dom-size: calc((var(--chessboard-size, 15)) * var(--block-size, 2em));
  
  display: grid;
  position: relative;
  width: var(--dom-size);
  height: var(--dom-size);
  padding-bottom: var(--block-size);
  padding-right: var(--block-size);
  margin: 0 auto;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 0px;
}

.chessboard-container .labels {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--block-size);
}

.chessboard-container .labels.row {
  flex-direction: row;
  grid-column: span 11 / span 11;
  grid-column-start: 2;
  grid-row-start: 1;
}

.chessboard-container .labels.column {
  flex-direction: column;
  grid-row: span 11 / span 11;
  grid-column-start: 1;
  grid-row-start: 2;
}

.chessboard-container .labels .label {
  position: relative;
}

.chessboard-container .labels .label::before {
  content: attr(data-label);
  position: absolute;
  transform: translate(-50%, -50%);
}

.chessboard-container .chessboard-main {
  --board-dom-size: calc(var(--block-size) * (var(--chessboard-size) - 1));

  display: block;
  position: relative;
  width: var(--board-dom-size);
  height: var(--board-dom-size);
  grid-column: span 11 / span 11;
  grid-row: span 11 / span 11;
  grid-column-start: 2;
  grid-row-start: 2;
}

.chessboard-container .chessboard-grid {
  --board-dom-size-half: calc(var(--board-dom-size) / 2);

  --star-point-size: calc(var(--block-size, 2em) / 4);
  --star-point-dom-size: calc(var(--star-point-size) + 1px);

  --star-point-margin: calc(var(--board-dom-size) / var(--chessboard-size, 15) * 3);
  --star-point-margin-top: calc(var(--star-point-margin) + var(--star-point-size) / 4);
  --star-point-margin-left: calc(var(--star-point-margin) + var(--star-point-size) / 4);
  --star-point-margin-bottom: calc(var(--board-dom-size) - var(--star-point-margin) - var(--star-point-size) / 0.75);
  --star-point-margin-right: calc(var(--board-dom-size) - var(--star-point-margin) - var(--star-point-size) / 0.75);

  --star-point-style:
    linear-gradient(225deg, transparent 50%, currentcolor 0, currentcolor 100%, transparent 0),
    linear-gradient(45deg, transparent 50%, currentcolor 0, currentcolor 100%, transparent 0);

  position: relative;
  width: calc(var(--board-dom-size) + 1px);
  height: calc(var(--board-dom-size) + 1px);
  background:
    /* The grid */
    repeating-linear-gradient(currentcolor, currentcolor 1px, transparent 1px, transparent var(--block-size, 2em)),
    repeating-linear-gradient(90deg, currentcolor, currentcolor 1px, transparent 1px, transparent var(--block-size, 2em)),
    /* Star point: center */
    var(--star-point-style),
    /* Star point: top left */
    var(--star-point-style),
    /* Star point: top right */
    var(--star-point-style),
    /* Star point: bottom left */
    var(--star-point-style),
    /* Star point: bottom right */
    var(--star-point-style);
  background-repeat: no-repeat;
  background-size:
    /* The grid */
    100% 100%, 100% 100%,
    /* Star point: center */
    var(--star-point-dom-size) var(--star-point-dom-size), var(--star-point-dom-size) var(--star-point-dom-size),
    /* Star point: top left */
    var(--star-point-dom-size) var(--star-point-dom-size), var(--star-point-dom-size) var(--star-point-dom-size),
    /* Star point: top right */
    var(--star-point-dom-size) var(--star-point-dom-size), var(--star-point-dom-size) var(--star-point-dom-size),
    /* Star point: bottom left */
    var(--star-point-dom-size) var(--star-point-dom-size), var(--star-point-dom-size) var(--star-point-dom-size),
    /* Star point: bottom right */
    var(--star-point-dom-size) var(--star-point-dom-size), var(--star-point-dom-size) var(--star-point-dom-size);
  background-position:
    /* The grid */
    0 0, 0 0,
    /* Star point: center */
    calc(var(--board-dom-size-half) - var(--star-point-size) / 2) calc(var(--board-dom-size-half) - var(--star-point-size) / 2),
    calc(var(--board-dom-size-half) - var(--star-point-size) / 2) calc(var(--board-dom-size-half) - var(--star-point-size) / 2),
    /* Star point: top left */
    var(--star-point-margin-left) var(--star-point-margin-top),
    var(--star-point-margin-left) var(--star-point-margin-top),
    /* Star point: top right */
    var(--star-point-margin-right) var(--star-point-margin-top),
    var(--star-point-margin-right) var(--star-point-margin-top),
    /* Star point: bottom left */
    var(--star-point-margin-left) var(--star-point-margin-bottom),
    var(--star-point-margin-left) var(--star-point-margin-bottom),
    /* Star point: bottom right */
    var(--star-point-margin-right) var(--star-point-margin-bottom),
    var(--star-point-margin-right) var(--star-point-margin-bottom);
}

.chessboard-container .chessboard-main .pieces {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--board-dom-size);
  height: var(--board-dom-size);
}

.chessboard-container .chessboard-main .pieces > div.piece {
  --pos-row: 0;
  --pos-column: 0;

  display: block;
  position: absolute;
  top: calc(var(--block-size) * var(--pos-column));
  left: calc(var(--block-size) * var(--pos-row));
  width: var(--block-size);
  height: var(--block-size);
  transform: translate(-50%, -50%);
  border-radius: calc(var(--block-size) / 2);
  pointer-events: none;
}

.chessboard-container .chessboard-main .pieces > div.piece[data-type="black"] {
  background-color: var(--piece-color-black);
}

.chessboard-container .chessboard-main .pieces > div.piece[data-type="white"] {
  background-color: var(--piece-color-white);
}

.chessboard-container .chessboard-main .pieces > div.piece.pointing {
  opacity: 0.5;
}

.chessboard-container.finished .chessboard-main .pieces > div.piece[data-index]::before {
  content: attr(data-index);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #dbdbdb;
  font-size: 1em;
  font-weight: 600;
  transform: translate(-50%, -50%);
}

.chessboard-container .chessboard-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: 600;
  opacity: 0;
  transition: opacity .2s linear;
  pointer-events: none;
}

.chessboard-container .chessboard-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-body);
  opacity: 0.5;
}

.chessboard-container .chessboard-overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.chessboard-container .chessboard-overlay.show {
  opacity: 1;
  pointer-events: all;
}

.chessboard-container.finished .chessboard-overlay {
  display: none;
}
